@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary-color: #f27a1a;
  --header-top-link: #999;
  --header-top-link-hover: #666;
  --account-item: #666;
  --account-item-hover: var(--primary-color);
  --profile-container: #e6e6e6;
  --category-hover: #e8e8e8;
  --background-all-site: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
}
.container-1200 {
  width: 1080px;
  margin: 0 auto;
}

.header {
    position: relative;
    background-color: white;
}

.header-banner-container {
    display: block;
}
 
.header-banner {
  height: 65px;
  background: linear-gradient(to right, rgb(30,223,242) 30%, rgb(9,191,223) 70%);
}

.header-banner img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.header-main-links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-top: 5px;
}

.header-main-links a {
  font-size: 0.75rem;
  color: var(--header-top-link);
}

.header-main-links a:hover {
  color: var(--header-top-link-hover);
}

.header-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 11px;
    padding-bottom: 11px;
    background-color: white;
}

.search-box-container {
  width: 600px;
  color: #333;
  background-color: #f3f3f3;
  position: relative;
  border-radius: 6px;
}

.search-box {
  padding: 10px 40px 10px 15px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 6px;
  width: 100%;
  outline: 0;
}

.search-history {
    display: none;
    position: absolute;
    top: 34px;
    width: 100%;
    z-index: 4;
    background-color: white;
    border: 2px solid var(--primary-color);
    padding: 17px;
    font-size: 12px;
    line-height: 15px;
    color: #333;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-history-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.search-history-top span {
    color: var(--primary-color);
}

.history-item {
    margin-bottom: 5px;
}

.search-box:focus {
    border: 2px solid var(--primary-color);
    transition: all 300ms ease-in-out;
}

.search-box:focus ~ div {
    display: block;
}


.search-button {
  border: 0;
  position: absolute;
  right: 12px;
  top: calc(50% - 9px);
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.account-list {
    height: 40px;
}

.account-list ul {
    width: 290px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.account-item {
    display: inline-block;
    font-size: 0.75rem;
    position: relative;
    display: flex;
    align-items: center;
}

.account-item-link {
  display: flex;
  align-items: center;
}

.account-item-link span {
  padding-left: 5px;
  color: var(--account-item);
}

.account-item a:hover span {
  color: var(--account-item-hover);
}

.account-item a:hover svg path {
  fill: var(--account-item-hover);
}

.profile:hover div {
    display: block;
}

.profile-container {
    position: absolute;
    top: 40px;
    right: -67px;
    height: 289px;
    z-index: 2;
    width: 196px;
    border: 1px solid var(--profile-container);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 16px 11px;
    background-color: white;
    display: none;
}

.profile-container:after, .profile-container:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.profile-container:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}
.profile-container:before {
	border-color: rgba(51, 0, 255, 0);
	border-bottom-color: var(--profile-container);
	border-width: 9px;
	margin-left: -9px;
}

.profile-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 0.875rem;
}

.profile-link-item a {
    display: flex;
    align-items: center;
}

.profile-link-item span {
    color: var(--header-top-link);
}

.profile-link-item svg {
    margin-right: 10px;
}

.profile-link-item svg path {
    fill: var(--header-top-link);
}

.profile-name span {
  color: var(--primary-color);
}

.categories {
    border-bottom: 1px solid var(--category-hover);
    background-color: white;
}

.category-list {
    display: flex;
    text-align: center;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.category-list li {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.category-list > li:hover {
  border-bottom: 2px solid var(--primary-color);
}

.category-list > li:hover .category-content{
  display: grid;
}

.category-list > li:hover .black-out{
    display: block;
    opacity: 0.9;
}

.category-content {
  position: absolute;
  left: 0;
  top: 33px;
  width: 100%;
  padding: 15px 18px;
  overflow: hidden;
  text-align: left;
  z-index: 10;
  display: none;
  grid-template-columns: repeat(5, 1fr) 275px;
  background-color: #fff;
}

.black-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms ease-out;
}

.sub-category {
    width: 147px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sub-category > a {
    font-size: 15px;
    line-height: 15px;
    color: #333;
    font-weight: 600;
}

.sub-category li {
    line-height: 18px;
}

.sub-category li a {
    font-weight: normal;
    font-size: 13px;
    color: #666;
}

.sub-category a:hover {
    border: none;
    color: var(--primary-color);
    text-decoration: underline;
}

.campaign-container {
  width: 275px;
}

.campaign-container img {
  width: 100%;
}

.campaign-container a {
    height: 137px;
    margin-bottom: 15px;
}

/* STORY SECTION BEGINS*/

.stories{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.story-text{
    margin-top: 5px;
    display: inline-block;
    width: 75px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    font-weight: 600;
    height: 42px;
    transition: color 300ms ease-in-out;
}

.story a img{
    border-radius: 50%;
    width: 66px;
    border: 1px solid #e6e6e6;
    transition: border 300ms ease-in-out;
}

.story:hover img{
    border: 1px solid var(--primary-color);
}

.story:hover .story-text{
    color: var(--primary-color);
}

/* STORY SECTION ENDS */


/* COMPONENT BANNER SECTION STARTS*/

.component-banner-container{
    display: flex;
    gap:20px;
}

.components{
    width: 750px;
}

.component{
    border-radius: 6px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #d3d3d3;
    border: 1px solid transparent;
}

.component-img{
    width: 100%;
    height: 217px;
    display: block;
    object-fit: cover;
}

.component-description{
    display: flex;
    align-items: center;
    background-color: black;
    transition: background-color 300ms ease-in-out;
}

.component-text, .hover-text{
    display: inline-block;
    padding: 0 17px;
    color: white;
    width: 50%;
    font-size: 14px;
    line-height: 38px;
    font-weight: 600;
}

.component-text {
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden
}

.hover-text{
    text-align: right;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.hover-text svg{
    margin-left: 7px;
    line-height: 30px;
}

.component:hover .hover-text{
    opacity: 1;
}

.component:hover .component-description{
    background-color: var(--primary-color);
}

.component:hover {
    border: 1px solid var(--primary-color);
}

.component:hover img{
    transform: scale(1.015);
    transition: transform 700ms ease-in-out;
}

.banners{
    width: 310px;
}

.banner{
    margin-bottom: 15px;
}

.banner-img{
    border-radius: 6px;
    display: block;
    width: 100%;
}
/* COMPONENT BANNER SECTION ENDS */

/* Products Page */

.container-1200 {
  width: 1200px;
  margin: 0 auto;
}
.breadcrumb {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 10px 0 15px 0;
}

.related-product p {
  font-size: 14px;
  color: black;
  font-weight: 600;
  line-height: 18px;
}
.related-product ul {
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 13px;
  margin: 10px 0px;
}

#more-show-button {
  color: var(--primary-color);
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
}

.line {
  background: #ececec;
  height: 1px;
}

.flexbox-content-container {
  display: flex;
}

/* ASD */
.products-content {
  margin-left: 20px;
  margin-top: 15px;
  flex: 5;
}

.filter-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.opportunity-product label {
  margin-left: 7px;
  font-size: 13px;
  line-height: 16px;
}

.opportunity-product li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.opportunity-product input {
  width: 21px;
  height: 21px;
  background: #ffffff;
  border: 1.5px solid #d6d6d6;
  border-radius: 2px;
}

.brands ul {
  overflow-y: scroll;
  height: 188px;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f1f1f1;
}

.brands ul::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.brands ul::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.brands ul::-webkit-scrollbar-thumb {
  background: #888888;
  border: 100px none #ffffff;
  border-radius: 100px;
}
.brands ul::-webkit-scrollbar-thumb:hover {
  background: #696969;
}
.brands ul::-webkit-scrollbar-thumb:active {
  background: #696969;
}
.brands ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 100px none #ffffff;
  border-radius: 100px;
}
.brands ul::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}
.brands ul::-webkit-scrollbar-track:active {
  background: #f1f1f1;
}
.brands ul::-webkit-scrollbar-corner {
  background: transparent;
}

.brands li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.brands label {
  margin-left: 7px;
  font-size: 13px;
  line-height: 16px;
}

#markaAra {
  background: #fafafa;
  padding: 6px 10px 6px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  width: 100%;
  height: 27px;
  margin: 10px 0;
}

.brands input {
  width: 21px;
  height: 21px;
  background: #ffffff;
  border: 1.5px solid #d6d6d6;
  border-radius: 2px;
}

/**


*/

.filter-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}

.filter-search-item {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.filter-search-price-item {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/***/
#free-shipping {
  display: flex;
  gap: 12px;
}

#free-shipping input {
  width: 21px;
  height: 21px;
  background: #ffffff;
  border: 1.5px solid #d6d6d6;
  border-radius: 2px;
}

.priceSearch form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-min-max input {
  padding: 6px 8px;
  background: #fafafa;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  width: 58px;
  height: 27px;
  font-size: 12px;
}

.price-min-max button {
  margin-left: 8px;
  background: #dadada;
  border-radius: 3px;
  border: none;
  padding: 4px;
  width: 27px;
  height: 27px;
}

.price-min-max input::placeholder {
  line-height: 15px;
  color: #4b4b4b;
  
}

.price-min-max {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 10px;
}

.priceSearch label {
  margin-left: 13px;
  font-size: 12px;
}

.priceSearch form ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.priceSearch form li {
  display: flex;
  align-items: center;
}

.priceSearch form li input {
  background: #ffffff;
  border: 1.5px solid #d6d6d6;
  width: 20px;
  height: 20px;
}
.product-content-header {
  display: flex;
  justify-content: space-between;
}
#search-result-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
#filter-by-feature {
  width: 180px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding: 8px 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 20px;
}
.product-detail {
  padding: 0 22px;
}
.product-card {
  display: flex;
  margin-top: 20px;
  flex: 1 20%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
 
}
.product-card:hover img{
transform: scale(1.015);
transition: all 500ms;

}

.product-price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #878787;
}
.product-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 5px;
}
.products-brand {
  font-weight: 700;
  font-size: 14px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rating {
  display: flex;
  gap: 6px;
  margin-bottom: 5px;
}
.rating p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
}
.product-discount-price {
  margin-top: 10px;
  display: flex;
  border: 1px solid #ff671d;
  border-radius: 3px;
  padding: 4px 6px 3px 7px;
  font-size: 12px;
  line-height: 15px;
  color: #666666;

}
.cheaper-price {
  color: var(--primary-color);
  font-size: 12px;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  
}
.wish-item{
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top:10px;
  right:11px;
  z-index: 1;

}
.wish-item:hover svg path{
  stroke: var(--primary-color);
}